<div class="home_container">
    <app-card
        gameImg="assets/bt-5.jpg"
        gameLabel="Digital"
        gamePrecing="129,99"
        gameType="Xbox One">
    </app-card>
    <app-card
        gameImg="assets/bt-1.jpg"
        gameLabel="Exclusive"
        gamePrecing="189,99"
        gameType="Pc | Xbox One">
    </app-card>

    <app-card
        gameImg="assets/bt-bad-company-2.jpg"
        gameLabel="Gold"
        gamePrecing="89,99"
        gameType="PS3 | Xbox 360">
    </app-card>

    <app-card
        gameImg="assets/ac-cover.jpg"
        gameLabel="Best of Year"
        gamePrecing="119,99"
        gameType="PS4">
    </app-card>

    <app-card
        gameImg="assets/bt-4.jpg"
        gameLabel="Digital"
        gamePrecing="149,99"
        gameType="PS4">
    </app-card>
</div>